.intro{
    width: 879px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 3%;
}

.intro-welcome{
    color:#64FFDA;
    font-size: 25px;
}

.intro-aboutMe{
    font-size: 60px;
}

.intro-name{
    color: #D9D9D9;
    margin-top: 10%;
}

.intro-whoAmI{
    color: #A8B2D1;
    margin-bottom: 5%;
}

.intro-description{
    font-size: 20px;
    color:#A8B2D1;
    width: 550px;
    max-width: 100%;
    line-height: 1.5;
}

.intro-btn{
    text-decoration: none;
    display: block;
    margin-top: 50px;
    border: 1px solid #64FFDA;
    color: #64FFDA;
    border-radius: 7%;
    padding: 7px 10px;
    width: 120px;
    max-width: 100%;
}

.intro-btn:hover{
    color: #020C1B;
    background-color: #64FFDA;
}
