.footer{
    display: flex;
    justify-content: space-between;
    background-color: #233554;
    width: 100%;
    align-items: center;
    padding-right: 5%;
}

.footer-contacts{
    display: flex;
    justify-content: space-between;
    width: 200px;
    max-width: 100%;
}

.footer-header{
    margin: 1%;
    text-align: center;
    font-size: 25px;
}

.footer-contacts > a > img{
    background-color: white;
    width: 32px;
    border-radius: 35%;
    cursor: pointer;
}
