.about{
    width: 1088px;
    max-width: 100%;
    margin: 10% auto;
}

.about-header{
    font-size: 30px;
}

.about-content{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-text{
    width: 678px;
    max-width: 100%;
}

.about-text > p{
    color: #A8B2D1;
    margin-top: 7%;
    font-size: 20px;
}

.about-knowledge{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 370px;
    max-width: 100%;
    margin-top: 5%;
}

.about-knowledge > li{
    color:#64FFDA;
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 5%;
}
