.header{
    display: flex;
    background-color: #020C1B;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    margin: 0 auto;
}

.header-logo{
    width: 150px;
    height: 150px;
}

.header-logo:hover{
    cursor: pointer;
}

.header-content{
    max-width: 400px;
    width: 100%;
    margin-right: 7%;
}

.header-content a{
    text-decoration: none;
    margin-left: 3%;
}

.header-content_text:hover{
    color:#64FFDA
}

.header-btn{
    border: 1px solid #64FFDA;
    border-radius: 12%;
    color: #64FFDA;
    padding: 7px 10px;
}

.header-btn:hover{
    color:#020C1B;
    background-color: #64FFDA;
}
