.intro{
    width: 879px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.intro-welcome{
    color:rgb(119, 216, 222);
    font-size: 25px;
}

.intro-aboutMe{
    font-size: 60px;
}

.intro-name{
    color: #D9D9D9;
    margin-top: 10%;
}

.intro-whoAmI{
    color: #A8B2D1;
    margin-bottom: 5%;
}

.intro-description{
    font-size: 20px;
    color:#A8B2D1;
    width: 550px;
    max-width: 100%;
    line-height: 1.5;
}

.intro-btn{
    text-decoration: none;
    display: block;
    margin-top: 50px;
    border: 1px solid rgb(119, 216, 222);
    color: rgb(119, 216, 222);
    border-radius: 7%;
    padding: 7px 10px;
    width: 120px;
    max-width: 100%;
    text-align: center;
    font-size: 20px;
}

.intro-btn:hover{
    color: #020C1B;
    background-color: rgb(119, 216, 222);
}

@media screen and (max-width: 1024px){
    .intro{
        margin-left: 5%;
        width: 95%;
    }
}

@media screen and (max-width: 425px) {
    .intro-aboutMe{
        font-size: 40px;
    }
}