.my-projects{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.projects-header{
    font-size: 30px;
    margin-bottom: 5%;
    margin-left: 5%;
}

.project{
    display: flex;
    justify-content: space-between;
    background-color: #233554;
    padding: 5% 2%;
    margin: 0 5%;
    margin-bottom: 5%;
    width: 90%;
}

.project > img{
    width: 45%;
}

.project-content{
    width: 50%;
    max-width: 100%;
}

.project-content > h3{
    font-size: 30px;
    margin-bottom: 5%;
}

.project-icons{
    margin-top: 5%;
    width: 80px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 880px) {
    .project > img{
        height: 50%;
        align-self: center;
    }
}

@media screen and (max-width: 770px) {
    .project {
        flex-wrap: wrap;
        justify-content: center;
    }

    .project > img{
        width: 51%;
        margin-bottom: 5%;
    }
}